<div class="comment-header">
    <h6 class="pt-3">{{ comment.author?.userName }}</h6>
    <h6 class="p-3">|</h6>
    <h6 class="pt-3">{{ comment.date | date:'mediumDate' }}</h6>

    <div class="flex-grow"></div>
    <app-edit-menu (edit)="edit()" (delete)="delete()"></app-edit-menu>
</div>
<ng-container *ngIf="!comment.isEditing; else editMode">
    <p>{{ comment.text }}</p>
</ng-container>

<ng-template #editMode>
    <textarea [(ngModel)]="comment.text" class="form-control">{{ comment.text }}</textarea>
    <div class="mt-4 mb-4 d-flex justify-content-end">
        <app-cancel-save-buttons (cancel)="cancel()"
            (save)="save()"></app-cancel-save-buttons>
    </div>
</ng-template>