<app-nav-bar></app-nav-bar>
<app-header [title]="'Schedule'"></app-header>
<app-header-buttons [title]="'Races'"></app-header-buttons>

<div class="container pt-4 p-5">
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-4">
    <div class="col" *ngFor="let race of races">

      <div class="card shadow card-clickable position-relative">
        <img class="card-img-top card-img-small" [src]="race.imageUrl" alt="{{ race.grandPrix }}" loading="lazy" [routerLink]="['/races', race.id]">
        <div class="card-body" [routerLink]="['/races', race.id]">
          <h5 class="card-title">{{race.country | uppercase}} GP</h5>
          <h6 class="card-subtitle">{{ race.date | date:'mediumDate' }}</h6>
        </div>

        <app-edit-menu (edit)="editRace(race)" (delete)="deleteRace(race)"
          class="position-absolute bottom-0 end-0 mb-2 mr-2"></app-edit-menu>

      </div>
    </div>
  </div>
</div>