<app-nav-bar></app-nav-bar>
<app-header>
  <span i18n="@@schedule" class="">Schedule</span>
</app-header>
<app-header-buttons [title]="'Races'"></app-header-buttons>

<div class="container pt-4 p-5">
  <div class="row g-4">
    <div *ngFor="let race of races" [ngClass]="race.id === nextRace?.id
                      ? 'col-12'
                      : 'col-12 col-md-6 col-lg-4 col-xl-3'">
      <div class="card shadow card-clickable position-relative" [ngClass]="{ 'next-race': race.id === nextRace?.id }">

        <img class="card-img-top card-img-small" [src]="race.imageUrl" alt="{{ race.grandPrix }}" loading="lazy"
          [routerLink]="['/races', race.id]" [ngClass]="{ 'next-race-img': race.id === nextRace?.id }">

        <div class="card-body" [routerLink]="['/races', race.id]">
          <h5 class="card-title">{{ race.country | uppercase }} GP</h5>
          <h6 class="card-subtitle">{{ race.date | date:'mediumDate' }}</h6>
        </div>

        <app-edit-menu (edit)="editRace(race)" (delete)="openConfirmDialog(race)"
          class="position-absolute bottom-0 end-0 mb-2 mr-2">
        </app-edit-menu>
      </div>
    </div>
  </div>
</div>