<app-nav-bar></app-nav-bar>
<app-header [title]="'Forum'"></app-header>
<app-header-buttons [title]="'Topics'" (created)="getTopics()"></app-header-buttons>

<div class="container pt-2 pb-4">
    <div class="card shadow m-2">
        <div class="header-row-flex p-4">
            <div class="col-3">Title</div>
            <div class="col-3">Author</div>
            <div class="col-3">Comments</div>
            <div class="col-3"></div>
        </div>
        <div class="row      row-shadow m-2 p-2" *ngFor="let topic of topics">
            <div class="col-3" [routerLink]="['/topics', topic.id]" style="cursor: pointer;">{{ topic.title }}</div>
            <div class="col-3" [routerLink]="['/topics', topic.id]" style="cursor: pointer;">{{ topic.author?.userName
                }}</div>
            <div class="col-3" [routerLink]="['/topics', topic.id]" style="cursor: pointer;">{{ topic.comments?.length
                ?? 0 }}</div>

            <div class="col col-flex">
                <app-edit-menu *ngIf="isCurrentUserAuthor(topic)" (edit)="editTopic(topic)"
                    (delete)="deleteTopic(topic)"></app-edit-menu>
            </div>
        </div>
    </div>
</div>