<h2 mat-dialog-title class="dialog-header mb-4 pb-4">
    {{ title }}
    <small *ngIf="currentTopic.id"> - {{ currentTopic.title }}</small>
</h2>

<mat-dialog-content>
    <form autocomplete="off" [formGroup]="topicForm" (ngSubmit)="onSubmit()" class="form-container">
        <mat-form-field>
            <mat-label i18n="@@title">Title</mat-label>
            <input matInput type="text" required formControlName="title" placeholder="Topic's title"
                i18n-placeholder="@@titlePlaceholder" />
            <span *ngIf="isValidField('title')" class="form-text text-danger" i18n="@@required">Required</span>
        </mat-form-field>
    </form>
</mat-dialog-content>

<mat-dialog-actions class="d-flex justify-content-end mb-2">
    <app-cancel-save-buttons (cancel)="cancel()" (save)="save()"></app-cancel-save-buttons>
</mat-dialog-actions>