<mat-dialog-content>
    <form autocomplete="off" [formGroup]="passwordForm" (ngSubmit)="onSubmit()" class="form-container">
        <mat-form-field>
            <mat-label>Old password</mat-label>
            <input matInput type="password" required formControlName="oldPassword" placeholder="Old password" />
            <span *ngIf="isInvalidCredential('oldPassword'); else requiredOldPassword" class="form-text text-danger">
                The old password is incorrect
            </span>
            <ng-template #requiredOldPassword>
                <span *ngIf="isValidField('oldPassword')" class="form-text text-danger">The password must be greater
                    than 6 characters</span>
            </ng-template>
        </mat-form-field>

        <mat-form-field>
            <mat-label>New password</mat-label>
            <input matInput type="password" required formControlName="newPassword" placeholder="New password" />
            <span *ngIf="isValidField('newPassword')" class="form-text text-danger">The password must be greater
                than 6 characters</span>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Repeat new password</mat-label>
            <input matInput type="password" required formControlName="newPasswordRepeated"
                placeholder="Repeat new password" />
            <span *ngIf="isValidField('newPasswordRepeated')" class="form-text text-danger">Passwords must be
                equals</span>
        </mat-form-field>
    </form>
</mat-dialog-content>

<mat-dialog-actions class="d-flex justify-content-end mb-2">
    <app-cancel-save-buttons (cancel)="cancel()" (save)="save()"></app-cancel-save-buttons>
</mat-dialog-actions>