.mat-mdc-form-field{
  width: 100%;
}

.mat-mdc-form-field-input-control.mat-mdc-form-field-input-control {  
  font-size: medium !important;
  font-style: normal !important;
  font-weight: 200;
}

.mat-toolbar-single-row {
  height: auto !important;
  background: transparent;
  padding: 0;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-preview {
  max-width: 200px;
  vertical-align: middle;
  height: auto;
}

#fileInput {
  position: absolute;
  cursor: pointer;
  z-index: 10;
  opacity: 0;
  height: 100%;
  left: 0px;
  top: 0px;
}