<img class="card-img-top" [src]="data.imageUrl" alt="{{ data.firstName }}" loading="lazy">

<mat-dialog-content>
    <p><strong>{{ data.firstName }} {{ data.lastName }}</strong> / {{ data.country }}</p>
    <hr>
    <p><strong>{{ data.titles }}x</strong> </p>
    <p i18n="@@worldDriverChampionship">World Drivers Championship</p>
</mat-dialog-content>

<mat-dialog-actions class="d-flex justify-content-end">
    <button mat-button mat-dialog-close>
        <mat-icon>close</mat-icon>
        <span i18n="@@close">Close</span>
    </button>
</mat-dialog-actions>