<app-nav-bar></app-nav-bar>
<app-header [title]="'Profile'"></app-header>

<div class="container">
    <div class="card shadow m-4">
        <h2 class="header-row p-4">Data</h2>
        <br>
        <div class="row ms-2"> <!-- TODO: ngFor -->
            <div class="col-4">First name</div>
            <div class="col">Daniel</div>
        </div>
        <hr>
        <div class="row ms-2">
            <div class="col-4">Last name</div>
            <div class="col">Herráez</div>
        </div>
        <hr>
        <div class="row ms-2">
            <div class="col-4">Email</div>
            <div class="col">danielhp0905</div>
        </div>
        <hr>
        <div class="row ms-2">
            <div class="col-4">User</div>
            <div class="col">Thaniel</div>
        </div>
        <hr>
        <div class="row ms-2">
            <div class="col-4">Country</div>
            <div class="col">Spain</div>
        </div>
        <hr>
        <div class="row ms-2">
            <div class="col-4">Birthdate</div>
            <div class="col">1999-05-09</div>
        </div>
        <br>
    </div>


</div>