<app-nav-bar></app-nav-bar>
<app-header [title]="'Standings'"></app-header>


<div class="container pb-4">
    <ng-container *ngIf="permission">
        <div class="d-flex justify-content-center m-2" *ngIf="!isEditingPoints">
            <button mat-raised-button class="secondary-button" (click)="showEditFields()">
                <mat-icon>edit</mat-icon>
                Edit Points
            </button>
        </div>

        <div class="d-flex justify-content-center m-2" *ngIf="isEditingPoints">
            <app-cancel-save-buttons (cancel)="cancel()" (save)="save()"></app-cancel-save-buttons>
        </div>
    </ng-container>

    <div class="d-flex justify-content-center">
        <div class="btn-group m-2">
            <input type="radio" class="btn-check" name="btnradio" id="btnDrivers" autocomplete="off" checked
                (change)="onSelectionChange($event)">
            <label class="btn btn-outline-danger" for="btnDrivers">Drivers</label>

            <input type="radio" class="btn-check" name="btnradio" id="btnTeams" autocomplete="off"
                (change)="onSelectionChange($event)">
            <label class="btn btn-outline-danger" for="btnTeams">Teams</label>
        </div>
    </div>

    <div class="card shadow m-2" *ngIf="isDriversSelected">
        <div class="header-row-flex p-4">
            <div class="col ps-3">Drivers</div>
            <div class="col">Points</div>
        </div>
        <div class="row row-shadow p-2 m-2" *ngFor="let driver of drivers; let i = index"
            [style.border-left]="isTeam(driver.team) ? '5px solid ' + driver.team.colorCode : ''"
            (click)="onClickDriver(driver)">
            <div class="col">{{ i + 1 }}. {{ driver.firstName }} {{ driver.lastName }}</div>

            <div class="col">
                <ng-container *ngIf="isEditingPoints; else showPoints">
                    <input type="number" [(ngModel)]="driver.points" />
                </ng-container>
                <ng-template #showPoints>{{ driver.points }}</ng-template>
            </div>
        </div>
    </div>

    <div class="card shadow m-2" *ngIf="!isDriversSelected">
        <div class="header-row-flex p-4">
            <div class="col ps-3">Teams</div>
            <div class="col">Points</div>
        </div>
        <div class="row row-shadow body-row p-2 m-2" *ngFor="let team of teams; let i = index"
            [style.border-left]="'5px solid ' + team.colorCode" (click)="onClickTeam(team)">
            <div class="col">{{ i + 1 }}. {{ team.name }}</div>

            <div class="col">
                <ng-container *ngIf="isEditingPoints; else showPoints">
                    <input type="number" [(ngModel)]="team.points" />
                </ng-container>
                <ng-template #showPoints>{{ team.points }}</ng-template>
            </div>
        </div>
    </div>

</div>