<app-nav-bar></app-nav-bar>
<app-header [title]="'Standings'"></app-header>


<div class="container pb-4">
    <div class="d-flex justify-content-center">
        <div class="btn-group m-2">
            <input type="radio" class="btn-check" name="btnradio" id="btnDrivers" autocomplete="off" checked
                (change)="onSelectionChange($event)">
            <label class="btn btn-outline-danger" for="btnDrivers">Drivers</label>

            <input type="radio" class="btn-check" name="btnradio" id="btnTeams" autocomplete="off"
                (change)="onSelectionChange($event)">
            <label class="btn btn-outline-danger" for="btnTeams">Teams</label>
        </div>

    </div>

    <div class="card shadow m-2" *ngIf="isDriversSelected">
        <div class="header-row p-4">
            <div class="col ps-3">Drivers</div>
            <div class="col">Points</div>
        </div>
        <div class="row m-2 p-3" *ngFor="let driver of drivers" [style.border-left]="isTeam(driver.team) ? '5px solid ' + driver.team.colorCode : ''">
            <div class="col">{{ driver.firstName }} {{ driver.lastName }}</div>
            <div class="col">{{ driver.points }}</div>
        </div>
    </div>

    <div class="card shadow m-2" *ngIf="!isDriversSelected">
        <div class="header-row p-4">
            <div class="col ps-3">Teams</div>
            <div class="col">Points</div>
        </div>
        <div class="row body-row p-3 m-2" *ngFor="let team of teams" [style.border-left]="'5px solid ' + team.colorCode">
            <div class="col">{{ team.name }}</div>
            <div class="col">{{ team.points }}</div>
        </div>
    </div>

</div>