/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.info-snackBar {
    --mdc-snackbar-container-color: #424242;
    --mat-snack-bar-button-color: white;
    --mdc-snackbar-supporting-text-color: white;
}

.error-snackBar {
    --mdc-snackbar-container-color: #C20000;
    --mat-snack-bar-button-color: white;
    --mdc-snackbar-supporting-text-color: white;
}


/*
 * Dialog
 * 
 */
.dialog-header {
    background-color: #212121;
    color: white !important;
}


/* 
 * Main Button 
 * Principal button of each component or page
 *
 */
.main-button {
    color: white !important;
    background-color: #D40000 !important;
}

.main-button:hover,
.secondary-button:hover {
    color: white !important;
    background-color: #525252 !important;
}

.secondary-button {
    color: white !important;
    background-color: #212121 !important;
}


/* 
 * Cards
 * Visual effects of interacting with the cards
 *
 */
.card {
    border: none;
}

.card-clickable {
    background-color: #f8f8f8;
    border-bottom: 5px solid #D50000;
}

.card-clickable:hover {
    cursor: pointer;
    background-color: #eeeeff;
    border-bottom: 5px solid #424242;
}

.card-img-small {
    height: 150px;
    width: auto;
    object-fit: cover;
}

.comment-card {
    border-left: 5px solid #212121;
}

/*
 * Form Style
 *
 *
 */
.form-container {
    display: flex;
    flex-direction: column;
}


/*
 * Login, Register and Recover Password
 * Visual card for this components
 *
 */
.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f5f5f5;
    padding: 20px;
}

.login-container {
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
    border-radius: 8px;
}

.welcome-text {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

/* 
 * Tables 
 * Visual effects of interacting with rows 
 *
 */
.header-row-flex {
    background-color: #212121;
    color: white;
    border-top-right-radius: 0.4rem;
    border-top-left-radius: 0.4rem;
    display: flex;
}

.header-row-center {
    background-color: #212121;
    color: white;
    border-top-right-radius: 0.4rem;
    border-top-left-radius: 0.4rem;
    text-align: center;
}

.row-shadow {
    background: linear-gradient(0deg, rgba(207, 202, 202, 1) 0%, rgba(255, 255, 255, 1) 10%, rgba(255, 255, 255, 1) 100%);
}

.row-shadow:hover {
    cursor: pointer;
    background: none;
    background-color: #eeeeff;
}

.row-clickable {
    background-color: #f8f8f8;
    border-left: 5px solid #D50000;
}

.row-clickable:hover {
    cursor: pointer;
    background: linear-gradient(0deg, rgba(238, 238, 255, 1) 0%, rgba(238, 238, 255, 1) 50%, rgba(238, 238, 255, 1) 100%);
    border-left: 5px solid #424242;
}