<app-nav-bar></app-nav-bar>
<div class="home">
    <img src="https://firebasestorage.googleapis.com/v0/b/f1-app-v2.appspot.com/o/f1_wallpaper.jpg?alt=media&token=2beaaa4f-8dd7-499d-a911-4e0c5437447c"
        alt="F1 wallpaper" width="100%" loading="lazy" />

    <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <!-- Slide 1: GP Image -->
            <div class="carousel-item active">
                <img [src]="nextRace.imageUrl" class="d-block w-100" [alt]="nextRace.grandPrix" loading="lazy">
                <div class="carousel-caption">
                    <h2 class="carousel-text">{{ nextRace.grandPrix }}</h2>
                </div>
            </div>

            <!-- Slide 2: Race and Qualifying Schedule -->
            <div class="carousel-item">
                <div class="d-block w-100 text-center p-5">
                    <h4><strong i18n="@@qualifying">Qualifying</strong></h4>
                    <p>{{ nextRace.qualifyingDate | date: 'fullDate' }} -
                        {{ nextRace.qualifyingDate | date: 'HH:mm' }}</p>
                    <br>
                    <h4><strong i18n="@@race">Race</strong></h4>
                    <p>{{ nextRace.date | date: 'fullDate' }} -
                        {{ nextRace.date | date: 'HH:mm' }}</p>
                </div>
            </div>

            <!-- Slide 3: Practice Sessions Schedule -->
            <div class="carousel-item">
                <div class="d-block w-100 text-center p-5">
                    <h4 i18n="@@practice1"><strong>Practice 1</strong></h4>
                    <p>{{ nextRace.firstPracticeDate | date: 'fullDate' }} -
                        {{ nextRace.firstPracticeDate | date: 'HH:mm' }}</p>
                    <br>
                    <h4 i18n="@@practice2"><strong>Practice 2 | Sprint Qualifying</strong></h4>
                    <p>{{ nextRace.secondPracticeDate | date: 'fullDate' }} -
                        {{ nextRace.secondPracticeDate | date: 'HH:mm' }}</p>
                    <br>
                    <h4 i18n="@@practice3"><strong>Practice 3 | Sprint Race</strong></h4>
                    <p>{{ nextRace.thirdPracticeDate | date: 'fullDate' }} -
                        {{ nextRace.thirdPracticeDate | date: 'HH:mm' }}</p>
                </div>
            </div>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div class="github-container p-4">
        <a href="https://github.com/Thaniel/f1-app-v2" target="_blank">
            <img src="../../assets/github_icon_white.png" alt="Github logo" class="git_logo" />
        </a>
    </div>
</div>