<app-nav-bar></app-nav-bar>
<!--<div class="home">
    <div class="contenedor ma-0">
        <p-image
            src="https://firebasestorage.googleapis.com/v0/b/f1-app-daa49.appspot.com/o/wallpaper.jpg?alt=media&token=0a8dab17-39c3-4c18-b9b7-26b346e47d79"
            alt="F1 wallpaper" width="100%" />

        <div style="color: white;">F1 APP</div>
    </div>

    <p-carousel [value]="info" [numVisible]="3" [numScroll]="1" [circular]="true" [responsiveOptions]="responsiveOptions" autoplayInterval="3000">
        <ng-template let-info pTemplate="item">

            <div class="border-1 surface-border border-round m-2 p-3">
                <div class="mb-3">
                    <div class="relative mx-auto" style="color: white;">
                       {{info}}
                    </div>
                </div>
            </div>
        </ng-template>
    </p-carousel>
    <!--<p-carousel [value]="products" [numVisible]="3" [numScroll]="3" [circular]="true"
        [responsiveOptions]="responsiveOptions" autoplayInterval="3000">
        <ng-template let-product pTemplate="item">
            <div class="border-1 surface-border border-round m-2 p-3">
                <div class="mb-3">
                    <div class="relative mx-auto">
                        <img src="https://primefaces.org/cdn/primeng/images/demo/product/{{ product.image }}"
                            [alt]="product.name" class="w-full border-round" loading="lazy" />
                        <p-tag [value]="product.inventoryStatus" [severity]="getSeverity(product.inventoryStatus)"
                            class="absolute" [ngStyle]="{ 'left.px': 5, 'top.px': 5 }" />
                    </div>
                </div>
                <div class="mb-3 font-medium">
                    {{ product.name }}
                </div>
            </div>
        </ng-template>
    </p-carousel>->

    <a href="https://github.com/Thaniel/F1-APP" target="_blank">
        <img src="../../../../assets/github_icon_white.png" alt="Github logo" class="git_logo" />
    </a>
</div>-->