<app-nav-bar></app-nav-bar>
<app-header [title]="'Teams'"></app-header>
<app-header-buttons [title]="'Teams'"></app-header-buttons>

<div class="container pt-4 p-5">
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-2 row-cols-xl-2 g-4">
    <div class="col" *ngFor="let team of teams">

      <div class="card shadow card-clickable position-relative" [style.border-bottom]="'5px solid ' + team.colorCode">
        <img class="card-img-top card-img-small" [src]="team.carImageUrl" alt="{{ team.fullName }}" loading="lazy"
          [routerLink]="['/teams', team.id]">

        <div class="card-body" [routerLink]="['/teams', team.id]">
          <h5 class="card-title">{{ team.name | uppercase }}</h5>
        </div>

        <app-edit-menu (edit)="editTeam(team)" (delete)="openConfirmDialog(team)"
          class="position-absolute bottom-0 end-0 mb-2 mr-2"></app-edit-menu>
      </div>
    </div>
  </div>
</div>