<app-nav-bar></app-nav-bar>

<div class="container pb-4">
    <!-- New details -->
    <div class="card shadow p-4 m-4">
        <div class="card-body">
            <h1 class="card-title">{{ newSelected.title }}</h1>
            <p class="card-subtitle">{{ newSelected.summary }}</p>
            <img [src]="newSelected.imageUrl" class="card-img-top" alt="{{ newSelected.title }}" loading="lazy">
            <p class="pt-2">{{ newSelected.date | date:'mediumDate' }}</p>

            <hr>
            <p class="card-text">{{ newSelected.text }}</p>
        </div>
    </div>

    <div class="m-4 text-center">
        <button mat-stroked-button [routerLink]="['/news']">
            <mat-icon>arrow_back</mat-icon>
            Back
        </button>
    </div>

    <div class="card shadow m-4">
        <h3 class="comments-header p-4">Comments</h3>
        <div class="m-2 text-center">
            <button mat-raised-button class="main-button" (click)="createComment()">Write</button>
        </div>
        <div class="p-2">
            <div class="card shadow comment-card mt-4 mb-4 p-2" *ngFor="let comment of comments">
                <app-comment [newId]="newSelected.id" [comment]="comment" (commentModified)="commentModified()"></app-comment>
            </div>
        </div>
    </div>
</div>