<div class="container text-center mt-4 mb-2">
    <div class="row">
        <ng-container *ngIf="permission">
            <div class="col">
                <button mat-raised-button class="main-button" (click)="openDialogCreate()">
                    <mat-icon>add</mat-icon>
                    <span i18n="@@create">Create</span>
                </button>
            </div>
            
            <!--<div class="col">
                <button mat-raised-button class="main-button" (click)="showMy()">Edit</button>
            </div>-->
        </ng-container>
    </div>
</div>